DATABASE_URL=""
JWT_ACCESS_EXPIRES=""
JWT_REFRESH_EXPIRES=""
PORT=
NODE_ENV=""  # NODE_ENV="development" || NODE_ENV="production"

ACCESS_TOKEN_SECRET=""
REFRESH_TOKEN_SECRET=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

CLOUDFLARE_R2_ACCOUNT_ID=""
CLOUDFLARE_R2_ACCESS_KEY_ID=""
CLOUDFLARE_R2_SECRET_ACCESS_KEY=""
CLOUDFLARE_R2_BUCKET_NAME=""
CLOUDFLARE_R2_ENDPOINT=""
CLOUDFLARE_R2_PUBLIC_URL=""